<h1><%= @selected_user.username %>'s <%= @food.food_name %></h1>
<table>
  <tr>
    <td><%= cl_image_tag(@food, :width=>100, :height=>100)%></td>
    <td><%= @food.caption %></td>
    <td><%= @food.recipe_url %></td>
  </tr>
</table>

<%= @nutrition.each do |nutrition|%>
  <table>
    <tr>
      <td><%= nutrition.label %></td>
      <td><%= nutrition.quantity %></td>
      <td><%= nutrition.unit %></td>
    </tr>
  </table>
<% end %>

<%= render 'comments/comments', commentable: @food %>
<%= render 'comments/form', commentable: @food %>
