<% @foods_and_articles.each do |post| %>
  <% if post.attributes.has_key? 'user_username' %>
          <div class="mx-auto my-auto border-2 border-red-600 rounded-md text-red-600">
            <center><%= cl_image_tag(post.food_key, :height=>200, :aspect_ratio=>"1.5", :crop=>"fill")%></center>
            <% if user_signed_in? && current_user.id == post.user_id %>
              <h1 class="text-lg px-1 font-bold capitalize"><%= link_to post.food_name, food_path(post.id) %></h1>
              <h2 class="text-sm px-1 text-black">Posted by: <u class="text-blue-500"><%= link_to post.user_username, foods_path %></u></h2>
            <% else %>
              <h1 class="text-lg px-1 font-bold capitalize"><%= link_to post.food_name, user_food_path(post.user_id, post.id) %></h1>
              <h2 class="text-sm px-1 text-black">Posted by: <u class="text-blue-500"><%= link_to post.user_username, user_path(post.user_id) %></u></h2>
            <% end %>
          </div>
  <% else %>
    <table>
      <tr>
        <% if nutritionist_signed_in? && current_nutritionist.id == post.nutritionist_id %>
          <td><%= link_to post.nutritionist_username, articles_path %></td>
          <td><%= link_to post.caption, article_path(post.id) %></td>
        <% else %>
          <td><%= link_to post.nutritionist_username, nutritionist_path(post.nutritionist_id) %></td>
          <td><%= link_to post.caption, nutritionist_article_path(post.nutritionist_id, post.id) %></td>
        <% end %>
        <td><%= post.source_url %></td>
      </tr>
    </table>
  <% end %>
<% end %>