<% if user_signed_in? %>
  <h1 class="text-lg text-blue-500">Hi <%= @cur_user.username %>! welcome to the newsfeed of bouffage</h1>
  <%= link_to 'Log out', destroy_user_session_path %>
  <%= render 'newsfeed' %>
  <%= link_to 'New Post', new_food_path %>
<% elsif nutritionist_signed_in? %>
  <h1>Hi <%= @cur_user.username %>! welcome newsfeed of bouffage</h1>
  <%= link_to 'Log out', destroy_nutritionist_session_path %>
  <%= render 'newsfeed' %>
  <%= link_to 'New Post', new_article_path %>
<% elsif admin_signed_in? %>
  <h1>Hi administrator these doctors are pending for approval</h1>
  <% @nut.each do |nutritionist| %>
    <ul>
      <li><%= nutritionist.username %></li>
      <li><%= nutritionist.email %></li>
      <li><%= nutritionist.license_num %></li>
      <li><%= nutritionist.years_exp %></li>
      <li><%= link_to "Approve", approve_path(nutritionist), method: :get %>
    </ul>
  <% end %>
  <%= link_to 'Log out', destroy_admin_session_path %>
<% else %>
  <div class="landing_page">
    <h1 class='text_hero'>bouffage</h1>
    
  </div>
<% end %>

<%= link_to 'Sign Up', new_user_registration_path %>
    <%= link_to 'Sign In', new_user_session_path %><br>
    <%= link_to 'Sign up as Nutritionist', new_nutritionist_registration_path %>
    <%= link_to 'Sign in as Nutritionist', new_nutritionist_session_path %><br>
    <%= link_to 'Admin Sign Up', new_admin_registration_path %>
    <%= link_to 'Admin Sign In', new_admin_session_path %><br>
