<% if user_signed_in? %>
  <h1 class="px-2 text-4xl mt-10 font-bold text-red-600">Welcome, <%= @cur_user.username %>!</h1><br/>
  <div class="grid px-2 grid-cols-3 gap-3 overflow-y-auto h-screen"><%= render 'newsfeed' %></div>
<% elsif nutritionist_signed_in? %>
  <h1 class="px-2 text-4xl mt-10 font-bold text-red-600">Welcome, <%= @cur_user.username %>!</h1><br/>
  <div class="grid px-2 grid-cols-3 gap-3 overflow-y-auto h-screen"><%= render 'newsfeed' %></div>
<% elsif admin_signed_in? %>
  <h1 class="px-2 text-4xl mt-10 font-bold text-red-600">Pending Approvals</h1>
    <table class="shadow-lg bg-white ml-3 mt-2 text-center">
      <thead>
        <tr>
          <th class= "bg-yellow-400 border border-black text-left px-8 py-4">Username</th>
          <th class= "bg-yellow-400 border border-black text-left px-8 py-4">Email</th>
          <th class= "bg-yellow-400 border border-black text-left px-8 py-4">License No.</th>
          <th class= "bg-yellow-400 border border-black text-left px-8 py-4">Years of Experience</th>
          <th class= "bg-yellow-400 border border-black text-left px-8 py-4">Action</th>
        </tr>
      </thead>
      <tbody>
      <% @nut.each do |nutritionist| %>
        <tr>
          <td class="border border-black px-8 py-4"><%= nutritionist.username %></td>
          <td class="border border-black px-8 py-4"><%= nutritionist.email %></td>
          <td class="border border-black px-8 py-4"><%= nutritionist.license_num %></td>
          <td class="border border-black px-8 py-4"><%= nutritionist.years_exp %></td>
          <td class="border border-black px-8 py-4 text-blue-500 font-bold opacity-100 hover:opacity-50"><%= link_to "Approve", approve_path(nutritionist), method: :get %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
<% else %>
  <div class="absolute bg-red-600 w-screen h-screen overflow-hidden">
    <div class="absolute z-10 top-1/4 ml-20 w-2/5 h-auto">
    <%= image_tag("bouffage.png", :alt => "bouffage") %> 
    <p class='text-3xl text-white tracking-wide ml-10' >Connecting people who loves food and health. Capturing Food moments.</p>
    <button class='bg-yellow-400 rounded p-1 text-xl tracking-wide text-black py-4 px-10 ml-10 mt-6' ><%= link_to 'Sign Up', new_user_registration_path %></button>
    <button class='bg-yellow-400 rounded p-1 text-xl tracking-wide text-black py-4 px-10 ml-4 mt-6' ><%= link_to 'Sign In', new_user_session_path %></button><br>
    <button class='bg-green-500 rounded p-1 text-xl tracking-wide text-black py-4 px-10 ml-10 mt-6' ><%= link_to 'Sign up as Nutritionist', new_nutritionist_registration_path %></button><br>
    <button class='bg-green-500 rounded p-1 text-xl tracking-wide text-black py-4 px-10 ml-10 mt-4' ><%= link_to 'Sign in as Nutritionist', new_nutritionist_session_path %></button>
    </div>
    <%= image_tag("img_1.png", :alt => "bouffage", :class => 'w-2/4 h-screen float-right mr-8') %>
  </div>
<% end %>

    <%# link_to 'Sign Up', new_user_registration_path %>
    <%# link_to 'Sign In', new_user_session_path %><br>
    <%# link_to 'Sign up as Nutritionist', new_nutritionist_registration_path %>
    <%# link_to 'Sign in as Nutritionist', new_nutritionist_session_path %><br>
    <%# link_to 'Admin Sign Up', new_admin_registration_path %>
    <%# link_to 'Admin Sign In', new_admin_session_path %><br>
