<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">
<style>@import url(https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.min.css);</style>

<%= form_with model: @food, local: true do |f| %>
  <% @food.errors.full_messages_for(:user_username).each do |message| %>
    <%= message %>
  <% end %>

  <% @food.errors.full_messages_for(:food_key).each do |message| %>
    <%= message %>
  <% end %>

  <% @food.errors.full_messages_for(:caption).each do |message| %>
    <%= message %>
  <% end %>

  <% @food.errors.full_messages_for(:recipe_url).each do |message| %>
    <%= message %>
  <% end %>

  <%= f.hidden_field :user_username, value:current_user.username %>


  <div class="box-border flex w-full h-screen px-5 pt-10 pb-12 bg-white border-8 border-red-600">
    <div class="flex">
      <%= cl_image_tag(@food.food_key, :class=>"lg:rounded h-96")%>
    </div>
    <div class="flex-column lg:w-1/2 w-full lg:pl-10 mt-3 space-y-1.5 ">
      <h1 class="text-red-600 text-5xl title-font font-bold mb-1 capitalize">Edit Post</h1>
      <h2 class="text-md space-x-1"> Posted by: <strong> <%= current_user.username %></strong><h2>
      <p><%= f.text_area :caption, placeholder: "Write a caption", autofocus: true, class: "leading-relaxed border-2" %></p><br/>
      <p><%= f.text_field :recipe_url, placeholder: "Share recipe url", autofocus: true, class: "leading-relaxed border-2" %></p>
      <p><a href="" class="opacity-100 hover:opacity-50 inline-block text-md text-blue-500 leading-none border-b border-blue-500"></a></p>
      <%= button_tag(type: 'submit', class: "text-white bg-red-500 border-0 py-2 px-6 focus:outline-none hover:bg-red-600 rounded") do %>
      Update Post
      <% end %>
    </div>
  </div>
<% end %>







