<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">
<style>@import url(https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.min.css);</style>

<% if @foods_recognized != nil %>
  <div class="box-border flex w-full h-full px-5 py-5 bg-white border-8 border-red-600">
    <div class="flex h-auto">
      <%= cl_image_tag(@food.food_key, :class=>"lg:rounded h-96")%>
    </div>
    <div class="flex-column lg:w-1/2 w-full lg:pl-10 mt-3 space-y-1.5 ">
      <h1 class="text-red-600 text-5xl title-font font-bold mb-1 capitalize font-great-vibes">Food Name</h1>
      <h2 class="text-md space-x-1"> Posted by: <strong> <%= current_user.username %></strong><h2>
      <p class="leading-relaxed"><%= @food.caption %></p>
      <p><a href="<%= @food.recipe_url %>" class="opacity-100 hover:opacity-50 inline-block text-sm text-blue-500 leading-none border-b border-blue-500">Checkout recipe here<i class="mdi mdi-arrow-right"></i></a></p>
      <br/>
      <p class="text-md text-red-600 font-bold">Choose a food name:</p>
        <% @foods_recognized['recognition_results'].each do |food| %>
          <p class="text-sm text-blue-500"><u><%= link_to food['name'], nutrition_path(food_name: food['name']) %></u></p>
        <% end %>
  <% else %>
    <%= render "form", food: @food %>
  <% end %>