<!DOCTYPE html>
<html>
  <head>
    <title>Rails Project</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="relative min-h-screen flex overflow-hidden">
    <% if user_signed_in? || nutritionist_signed_in? || admin_signed_in? %>
      <%= render 'home/sidenav' %>
    <% end %>
    <div class="w-3/4 overflow-y-auto">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </div>
  </body>
</html>
